.top-bar, .top-bar ul{
    background-color: $nav-background;  //You don't need to say grey, that's already definied in variables too
}

.top-bar{
    .menu-text{
        color:$nav-text-color;
    }
    .menu > .menu-text  > a{
        display: inline;
        padding: 0;
    }
    .active-link{
        font-weight:bold;
    }
}